@import url(./fonts.css);
:root {
    --fontBase: 'Montserrat';
    --body: #BABABA;
    --color: #1C1B1F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    color: var(--color);
    background: var(--body);
    font-family: var(--fontBase);
}

.container {
    margin: 0 auto;
    padding: 0 12px;
    max-width: 1152px;
    width: 100%;
}
.div{
    opacity: 0;
}